.rating-container{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    width: 50%;
    padding: 20px;
    font-family: Arial, sans-serif;
    gap: 1rem;
}

.comment-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding-top: 1rem;
    background-color: white;
    border-radius: 20px;

}

.rating-container h1 {
    text-align: center;
}

.stars {
    display: inline-block;
    font-size: 1.2rem;
    color: #f4c430; 
  }

