@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.heroContainer {
  background-image: url("https://images.pexels.com/photos/1813272/pexels-photo-1813272.jpeg");
  color: white;
  background-repeat: no-repeat;
  background-size: 120rem;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.heroContent{
  opacity: 1;
}

.bookBtn{
  border-radius: 15px;
  width: 10rem;
  height: 4rem;
  font-size: larger;
}


@media (max-width: 768px) {
  .heroContainer {
    padding: 0 2rem;
  }

}
