.footer-container {
    display: flex;
    background-color: #1a1a1a;
    width: 100%;
    justify-content: center;
    bottom: 0;
    height: 30vh;
    
}

.footer-detail{
    width: 34%;
    height: 100%;
}

.useful-links{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: end;
    justify-content: center;
    list-style: none;
}
